/*
:root {
  --background: #2E2422;
  --foreground: #D7CFC6;
}

@theme inline {
  --color-background: var(--background);
  --color-dark: #634A3E;
  --color-medium: #947260;
  --color-light: #BAA392;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2E2422;
    --foreground: #D7CFC6;
  }
}
*/

@import "tailwindcss";

:root {
  --background: #3a2f6b;
  --foreground: #77f07f;
}

@theme inline {
  --color-background: var(--background);
  --color-dark: #36669c;
  --color-medium: #41a0ae;
  --color-light: #3ec995;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a2f6b;
    --foreground: #77f07f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: currentColor;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

html, body {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}